.menu {
    position: sticky;
    top: 0;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: transform 0.3s ease;
}

.menu--hidden {
    transform: translateY(-100%);
}

.menu-inner {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 0.875rem;
    font-weight: bold;
}

.menu ul li {
    position: relative;
    cursor: pointer;
}

.menu ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #e9e9e9;
    min-width: 200px;
    padding: 0.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu ul li:hover ul.submenu {
    display: block;
}

.menu ul li ul.submenu li {
    font-weight: normal;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    transition: background 0.2s, transform 0.2s;
}

.menu ul li ul.submenu li:last-child {
    border-bottom: none;
}

.menu ul li ul.submenu li:hover {
    color: #969696;
    transform: translateX(5px);
}

/* Mobile */
@media (max-width: 1024px) {
    .menu {
        display: none;
    }
}
